<p id="notice"><%= notice %></p>

<h1>Usercontacts</h1>

<table>
  <thead>
    <tr>
      <th>Imei</th>
      <th>Contacts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usercontacts.each do |usercontact| %>
      <tr>
        <td><%= usercontact.imei %></td>
        <td><%= usercontact.contacts %></td>
        <td><%= link_to 'Show', usercontact %></td>
        <td><%= link_to 'Edit', edit_usercontact_path(usercontact) %></td>
        <td><%= link_to 'Destroy', usercontact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usercontact', new_usercontact_path %>
